<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Project title</th>
      <th>Project description</th>
      <th>Project status</th>
      <th>Pictures</th>
      <th>Approved by admin</th>
      <th>Approved by pto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.project_title %></td>
        <td><%= project.project_description %></td>
        <td><%= project.project_status %></td>
        <td><%= project.pictures %></td>
        <td><%= project.approved_by_admin %></td>
        <td><%= project.approved_by_pto %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
